.bottom-banner
  .bottom-banner__items
    %h2.bottom-banner__items__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.bottom-banner__items__text
      今すぐ無料ダウンロード！
    .bottom-banner__items__btn
      = link_to '#', class: "bottom-banner__items__btn__apple" do
        = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
      = link_to '#', class: "bottom-banner__items__btn__google" do
        = image_tag "aeto8-a4pvp.svg"