.wrapper
  = render 'user-mypage_side-bar'    
  .main-content
    .user-icon
      .user-photo
        = image_tag "member_photo_noimage_thumb.png", size:"60x60",alt:"アイコン"
      .user-name
        =@Nickname