$main-color: #3CCACE;
$point-color: white;


@mixin item-box {
  width: 100%;
  height: 300px;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  color: $point-color;
}

@mixin download-btn {
  &__btn {
    display: flex;
    img {
      height: 55px;
    }
    &__google {
      margin-left: 20px;
    }
  }
}

@mixin section-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
}

@mixin under-mark {
  &:after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: $main-color;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin list-block {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


.bottom-banner {
  width: 100%;
  height: 360px;
  background-image: url(/material/pict/bg-appBanner-pict.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  &__items {
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    color: $point-color;
    text-align: center;
    &__title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 35px;
      margin-bottom: 20px;
    }
    @include download-btn();
    &__btn {
      justify-content: center;
    }
  }
}

.footer {
  width: 100%;
  background-color: #272727;
  color: $point-color;
  padding: 50px 0;
  &__contents {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__content {
      text-align: center;
      &__title {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 10px;
      }
      &__items {
        font-size: 11px;
        &__item {
          margin: 15px 0;
          a {
            color: $point-color;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  &__logo {
    text-align: center;
    img {
      width: 150px;
      vertical-align: bottom;
    }
  }
  p {
    font-size: 14px;
    text-align: center;
  }
}

.top-page {

  .main-visual {
    width: 100%;
    height: 560px;
    background-image: url("/material/pict/bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    position: relative;
    &__items {
      @include item-box();
      padding: 0 80px;
      position: absolute;
      top: 160px;
      &__title {
        font-size: 60px;
        padding: 15px 0;
      }
      &__text {
        font-size: 18px;
        line-height: 36px;
        padding-bottom: 30px;
      }
      @include download-btn();
    }
  }

  .introduction {
    padding: 60px 0;
    &__title {
      @include section-title();
      @include under-mark();
    }
    &__list {
      @include list-block();
      &__content {
        width: 30%;
        &__image {
          position: relative;
          img {
            width: 100%;
          }
          span {
            font-size: 24px;
            padding: 10px 20px;
            font-weight: bold;
            position: absolute;
            top: 0px;
            left :0px;
            color: $point-color;
            background-color: $main-color;
          }
        }
        &__title {
          font-size: 24px;
          font-weight: bold;
          padding: 15px 0;
          text-align: center;
          span {
            color: $main-color;
          }
        }
      }
    }
  }

  .middle-image {
    height: 400px;
    background-image: url("/material/pict/bg-topMiddleDl-pict.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    &__items {
      @include item-box();
      padding: 0 220px;
      &__title {
        font-size: 22px;
        font-weight: bold;
        padding: 30px 0 15px;
      }
      &__text {
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 30px;
      }
      @include download-btn();
    }
  }

  .features {
    padding: 60px 0;
    &__title {
      @include section-title();
      @include under-mark();
    }
    &__list {
      @include list-block();
      &__content {
        width: 30%;
        &__image {
          margin: 0 20px;
          img {
            width: 100%;
          }
        }
        &__title {
          font-size: 18px;
          font-weight: bold;
          padding: 10px 0;
          text-align: center;
        }
      }
    }
  }

  .item-introduction {
    
    padding: 60px 0 100px;
    background-color: #f8f8f8;
    &__title {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 5px;
    }
    &__new{
      text-align: center;
    }
    &__list {
      display: flex;
      margin: 20px auto;
      width: 1200px;
      &__title {
        color: $main-color;
      
        h3 {
          font-size: 24px;
          font-weight: bold;
        }
      }
      &__block {
        display: flex;
        margin-top: 20px;
        &__box {
          width: 20%;
          height: 300px;
          display: flex;
          &:hover {
            opacity: 0.5;
          }
          &__content {
            display: inline-block;
            width: 100%;
            height: 100%;
           
            &__top {
              height: 200px;
              
              img {
                width: 100%;
                height: 100%;

              }

              &__sold {
                width: 0;
                height: 0;
                border-top: 70px solid #ea352d;
                border-right: 70px solid transparent;
                border-bottom: 70px solid transparent;
                border-left: 70px solid #ea352d;
                z-index: 1;
                position: relative;
                top: -206px;
                &__inner {
                  transform: rotate(-45deg);
                  font-size: 28px;
                  margin: -35px 0px 0px -60px;
                  color: #fff;
                  letter-spacing: 2px;
                }
              }
            }
            &__bottom {
              color: black;
              background-color: $point-color;
              height: 100px;
              padding: 15px 12px 12px;
              &__name {
                font-size: 18px;
                margin-bottom: 5px;
              }
              &__details {
                
                &_box{
                  display: flex;
                  justify-content: space-between;
                }
                &__tax {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.details-page {
  background-color: #f8f8f8;
  padding: 40px 0 10px;
  .item-details {
    width: 700px;
    margin: 0 auto;
    &__contents {
      &__item-box {
        padding: 15px 40px 40px;
        background-color: $point-color;
        &__name {
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          padding: 10px 0;
        }
        &__images {
          text-align: center;
          li {
            img {
              width: 500px;
            }
            ul {
              display: flex;
              justify-content: center;
              li {
                img {
                  width: 150px;
                  margin: 5px;
                }
              }
            }
          }
        }
        &__price {
          font-size: 46px;
          font-weight: bold;
          text-align: center;
          margin: 15px 0 20px;
          &__tax {
            font-size: 16px;
            font-weight: normal;
          }
        }
        &__text {
          font-size: 16px;
          margin-bottom: 20px;
        }
        &__imformation {
          margin-bottom: 20px;
          table {
            border-collapse: collapse;
            font-size: 13px;
            line-height: 39px;
            tr {             
              th {
                width: 150px;
                background-color: #eee;
                text-align: center;
                border: 1px solid #dedede;
              }
              td {
                width: 470px;;
                border: 1px solid #dedede;
                padding-left: 20px;
              }
              a {
                color: $main-color;
              }
            }
          }
        }
        &__other {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          &__like {
            color: $main-color;
            border-radius: 50px;
            padding: 5px 10px;
            border: 1px solid #ffb340;
          }
          &__report {
            border-radius: 5px;
            padding: 5px 10px;
            border: 1px solid black;
            a {
              font-size: 14px;
              color: black;
            }
          }
        }
      }
      &__comment-box {
        background-color: $point-color;
        margin: 15px 0;
        padding: 25px;        
        textarea {
            padding: 10px;
            width: 100%;
            height: 100px;
        }
        &__form {
          &__warning {
            font-size: 13px;
            background-color: #f8f8f8;
            padding: 10px;
            margin: 15px 0 30px;
          }
          &__submit {
            background-color: $main-color;
            border-radius: 40px;
            border: none;
            padding: 10px;
            width: 60%;
            text-align: center;
            font-size: 18px;
            color: $point-color;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
    &__links {
      display: flex;
      justify-content: space-between;
      a {
        color: $main-color;
      }
    }
    &__other-items {
      padding: 30px 0 30px;
      a {
        color: $main-color;
        font-size: 22px;
        font-weight: bold;
        display: block;
        margin-bottom: 30px;
      }
      &__item-list {
        width: 25%;
          &__content {
            display: inline-block;
            width: 100%;
            height: 100%;
            &__top {
              height: 175px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            &__bottom {
              color: black;
              background-color: $point-color;
              height: 80px;
              padding: 10px;
              &__name {
                font-size: 14px;
                padding-bottom: 5px;
              }
              &__details {
                ul {
                  display: flex;
                  justify-content: space-between;
                  font-size: 14px;
                }
                &__tax {
                  font-size: 10px;
                }
              }
            }
          }
      }
    }
  }
}