.item-introduction
  %h2.item-introduction__title
    商品一覧
  .item-introduction__new
    .item-introduction__list__title
      %h3 新規投稿商品
  .item-introduction__list
    .item-introduction__list__block
    - @items.each do |item|
      .item-introduction__list__block__box
        = link_to item_path(item.id),class: "item-introduction__list__block__box__content" do
          .item-introduction__list__block__box__content__top
            = image_tag item.images.first.url.url
            - if item.buyer_id.present?
              .item-introduction__list__block__box__content__top__sold
                .item-introduction__list__block__box__content__top__sold__inner
                  SOLD
          .item-introduction__list__block__box__content__bottom
            %h3.item-introduction__list__block__box__content__bottom__name
              =item.name
            .item-introduction__list__block__box__content__bottom__details
              .item-introduction__list__block__box__content__bottom__details_box
                .item-introduction__list__block__box__content__bottom__details__box__price
                  = item.price 
                  円
                .item-introduction__list__block__box__content__bottom__details__box__like
                  = icon('fas', 'star') 
                  2
              %p.item-introduction__list__block__box__content__bottom__details__tax
                （税込）
      
      
      
      