.main-visual
  .main-visual__items
    %h2.main-visual__items__title  
      人生を変えるフリマアプリ
    %p.main-visual__items__text
      FURIMAはだれでもかんたんに出品・購入ができる
      %br フリマアプリです
    .main-visual__items__btn
      = link_to '#', class: "main-visual__items__btn__apple" do
        = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" 
      = link_to '#', class: "main-visual__items__btn__google" do
        = image_tag "aeto8-a4pvp.svg"
