.middle-image
  .middle-image__items
    %h2.middle-image__items__title
      会員数日本一位
    %p.middle-image__items__text
      FURIMAは、フリマアプリで最も人気。
      %br 出品・購入数も業界最多です！
      ほしかったあの商品に出会えるかもしれません。
    .middle-image__items__btn
      = link_to '#', class: "middle-image__items__btn__apple" do
        =image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"
      = link_to '#', class: "middle-image__items__btn__google" do
        = image_tag "aeto8-a4pvp.svg"
