.details-page
  = render "item_details"
= render "bottom_banner"

.details-link
- if user_signed_in? &&current_user.id ==@item.user_id
  .details-link-btn
    =link_to "編集", edit_item_path(@item.id),class: 'edit_btn'
-else
= render "footer"
