.header{
  text-align: center;
}
.error{
  text-align: center;
  color: red;
}
.contents{
  height: 100%;
  display: flex;
  justify-content: center;
  
  &_body{
    background-color: #f5f5f5;
    width: 567px;
    &_exhibit{
      padding-left: 10px;
      border-bottom:medium solid  white;
      
      &_box{display: flex;
        &_must{color: white;
        background-color: #3CCACE;
      margin-left: 20px;
    margin-bottom: 10px;}
      }  
      
      &_maxtext{
      margin-bottom: 10px;}
    }
    &_name{
      border-bottom:medium solid  white;
      height: 120px;
      padding-left: 10px;
      
      
      &_box{
        display: flex;
        margin-top: 20px;
        
        &_must{
          color: white;
          background-color: #3CCACE;
          margin-left: 20px;
        }
      }
      &_field{
        #item_name{height: 48px;}
      }
    }
    &_explain{
      border-bottom:medium solid  white;
      height: 250px;
      padding-left: 10px;
      &_text{
        display: flex;
        &_a{
          color: white;
          background-color: #3CCACE;
          margin-left: 20px;
        }
      }
      &_field{
        #item_explanation{height: 165px;}
      }
    }
    &_details{
      border-bottom:medium solid  white;
      height: 200px;
      padding-left: 10px;
      &_box{
        color:rgb(136, 136, 136) ;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      &_category{
        display: flex;
        
        &_must{color: white;
          background-color: #3CCACE;
          margin-left: 10px;
        }
      }
      &_categoryfield{
        
      }
      
      &_conditionbox{
        
        display: flex;
        margin-top: 10px;
        &_must{
          background-color: #3CCACE;
          color: white;
          margin-left: 10px;
          margin-bottom: 10px;
        }
      }
      &_condition{
        #item_condition_id{
          width: 200px
        }
      }
    
    
  }
    &_shipping{
border-bottom:medium solid  white;
padding-left: 10px;
        &_about{
          color: red;
          padding-top: 10px;
        }
        &_burden{
          padding-top: 10px;
          .mustcondition{
            background-color: #3CCACE;
            color: white;
          }
          .condition-select-wrap{
            #item_payer_id{
              width: 200px;
            }
            }
          
        }
        &_area{
          padding: 10px 0;
            .mustcondition{background-color: #3CCACE;
            color: white;}    
          .condition-select-wrap{
              #item_prefecture_id{
                width: 200px; 
              }       
        }
      }
        &_day{
          padding: 10px 0;
          border-bottom:medium solid  white;

          .mustcondition{background-color: #3CCACE;
          color: white;}
          .condition-select-wrap{
            #item_preparation_day_id{
              width: 200px; 
            }       
      }
        }
        &_price{
          padding: 10px 30px 10px 0;
          height: 110px;
          border-bottom:medium solid  rgb(230, 227, 227);
          
          .mustcondition{background-color: #3CCACE;
          color: white;}
          &_length{
            color: red;
          }
          &_form{margin-left: 310px;}
          &_fee{
            display: flex;
            justify-content: space-between;
            &_right_bar{
              margin-right: 40px;
            }
          }
        }
        &_profit{
          height: 100px;
          line-height: 100px;
          display: flex;
          justify-content: space-between;
          &_right_bar2{
            margin-right: 40px;
          }
        }
        &_btn{
          text-align: center;
          padding-bottom: 10px;
          .submit_btn{
            width: 500px;
            height: 70px;
            background-color: #3CCACE;
            color: white;
          }
        }
        &_back{
          text-align: center;
          height: 50px;

        }
    }
  }
}