.contents{
  height: 100%;
  display: flex;
  justify-content: center;
  
  &_body{
    background-color: #f5f5f5;
    width: 567px;
    &_exhibit{
      padding-left: 10px;
      border-bottom:medium solid  white;
    height: 120px;
      &_box{display: flex;
        &_must{color: white;
        background-color: red;
      margin-left: 20px;
    margin-bottom: 10px;}
      }  
      &_maxtext{
      margin-bottom: 10px;}
    }
    &_name{
      border-bottom:medium solid  white;
      height: 120px;
      padding-left: 10px;
      
      &_box{
        display: flex;
        &_must{
          color: white;
          background-color: red;
          margin-left: 20px;
        }
      }
      &_field{
        #item_name{height: 48px;}
      }
    }
    &_explain{
      border-bottom:medium solid  white;
      height: 250px;
      padding-left: 10px;
      &_text{
        display: flex;
        &_a{
          color: white;
          background-color: red;
          margin-left: 20px;
        }
      }
      &_field{
        #item_explanation{height: 165px;}
      }
    }
    &_details{
      border-bottom:medium solid  white;
      height: 300px;
      padding-left: 10px;
      &_box{
        color:rgb(136, 136, 136) ;
        margin-bottom: 40px;
        margin-top: 10px;
      }
      &_category{
        display: flex;
        
        &_must{color: white;
          background-color: red;
          margin-left: 10px;
        }
      }
      &_categoryfield{
        
      }
      &_brand{
        margin-top: 10px;
        display: flex;
        margin-bottom: 10px;
        &_any{color: white;
          background-color:rgb(136, 136, 136);
          margin-left: 10px;
        }
      }
      &_conditionbox{
        display: flex;
        margin-top: 10px;
        &_must{
          background-color: red;
          color: white;
          margin-left: 10px;
          margin-bottom: 10px;
        }
      }
    }
    &_shipping{
border-bottom:medium solid  white;
padding-left: 10px;
        &_about{
          color: red;
          padding-top: 10px;
        }
        &_burden{
          padding-top: 10px;
          .mustcondition{
            background-color: red;
            color: white;
          }
        }
        &_area{
          padding: 10px 0;
            .mustcondition{background-color: red;
            color: white;}            
        }
        &_day{
          padding: 10px 0;
          border-bottom:medium solid  white;

          .mustcondition{background-color: red;
          color: white;}
        }
        &_price{
          padding: 10px 30px 10px 0;
          height: 110px;
          border-bottom:medium solid  rgb(230, 227, 227);

          .mustcondition{background-color: red;
          color: white;}
          &_length{
            color: red;
          }
        }
        &_fee{
          height: 100px;
          padding-left: 10px;
          line-height: 100px;
        }
        &_btn{
          text-align: center;
          padding-bottom: 10px;
          .submit_btn{
            width: 500px;
            height: 60px;
            background-color: red;
            color: white;
          }
        }
        &_back{
          text-align: center;

        }
    }
  }
}