@mixin placement{
  max-width: 375px;
  margin: 0 auto;
  padding: 24px 16px;
}
@mixin border-line{
  border-top:solid 1px #eee;
}
.purchase{
  &__header{
    height:96px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-bottom: solid 1px #eee;
  }
  &__contents{
    &__title{
      @include placement;
      text-align: center;
      h2{
        font-size:17px;
        line-height:24px;
        margin:0;
        padding: 0;
      }
    }
    &__product{
      @include border-line;
      @include placement;
      display:flex;
      margin:0 auto;
      &__photo{
        background-color: #eee;
        height: 80px;
        width: 80px;
      }
      &__details{
        width:calc(100% - 90px);
        margin-left:16px;
        &__name{
          font-size:14px;
          line-height:1.4em;
          margin-bottom:8px;
        }
        &__price{
          text-align:right;
          p{
            float:left;
            font-size:12px;
          }
          &__num{
            font-size:15px;
            font-weight:600;
            margin-left:8px;
          }
        }
      }
    }
    &__tortal-price{
      @include border-line;
      @include placement;
      display:flex;
      font-size:18px;
      font-weight:600;
      justify-content:space-between;
      align-items:center;
      &__num{
        font-size:24px;
      }
    }
    &__payment-method{
      @include border-line;
      @include placement;
      h3{
        float: left;
        font-size:18px;
        font-weight:600;

      }
      p{
        @include placement;
        text-align: right;
        font-size:18px;
        font-weight:600;

      }
      .buy-btn{
        background-color:#ea352d;
        color:#fff;
        font-size:17px;
        min-height:48px;
        padding:0 24px;
        width:100%;
        border-radius: 4px;
        border: 1px solid transparent;
        box-sizing: border-box;
        display: inline-block;
        font-weight: 600;
        line-height: 1;
        overflow: hidden;
        text-align: center;
        text-decoration: none;
      }
    }
  }
  &__footer{
    bottom: 0;
    background-color: #eee;
    @include border-line;
    align-items: center;
    &__list{
      text-align: center;
      text-decoration:none;
      font-size:12px;
      a{
        text-decoration: none;
        color:#888;
      }
    }
    &__logo{
      margin: auto;
      align-items: center;
      height: 41px;
      width: 150px;
      background-color: #eee;
    }
  }
}