.contentall{
  height: 100px;
}
.content{
  width: 100%;
  height: 100%;
  background-color:white;
  display: flex;
    justify-content: center;
    align-items: center;
  
    .content_body{
      
      width: 567px;
      background-color:#f5f5f5;
        h2{
          color:black;
          border-bottom:medium solid  white;
          text-align: center;
          font-size: larger;
          height: 100px;
          line-height: 100px;
        }
        .text{
          text-align: center;
          line-height: 50px;
          height: 130px;
          border-bottom:medium solid  white;
          .text_new{
            height: 40px;
            padding: 0px 100px;
            
          .text_new_regist{
            background-color:#0099e8;
            height: 40px;
            line-height: 40px;
            color: white;
          }
        }
      }

    .content_body_name{
      padding-top: 20px;
    
    }
    .field{
      text-align: center;
      padding-bottom: 30px;
      .field_box{
        display: flex;
        padding-left: 100px;
        padding-bottom: 5px;
        .mustbox{
          color: white;
          background-color: #3CCACE;
          margin-left: 10px;
          padding: 0px 5px;
        }
      }
      .field_three{
        display: flex;
        padding-left: 50px;
        padding-bottom: 5px;
        .mustbox{
          color: white;
          background-color: #3CCACE;
          margin-left: 10px;
          padding: 0px 5px;
        }
        .anybox{
          background-color: #ccc;
          margin-left: 20px;

        }
      }
      #sending_destination_prefecture_name{
        width: 351px;
        height: 28px;
      }
      #user_Nickname{
        height: 50px;
      }
      #user_email{
        height: 50px;
      }
      #user_password{
        height: 50px;
      }
    }
    }
    .confirmation_text{
      padding:10px 70px ;
      text-align: center;
      
  }
  .name{
    text-align:center;
    padding: 10px 50px;
    .name_field{
      display: flex;
    }
      .field{
        .field_boxtwo{
          display: flex;
          padding-left: 60px;
          .mustbox{
            color: white;
            background-color:#3CCACE;
            margin-left: 8px;
            padding: 0px 5px;
            margin-bottom: 5px;
          }
        }

        .namebox{
        display: flex;
        justify-content: space-evenly;
          #user_First_name{
            height: 50px;
          }
          #user_Family_name{
            height: 50px;
          }
          #user_First_name_kana{
            height: 50px;
          }
          #user_Family_name_kana{
            height: 50px;
          }
      }
  }
  }
  .birth{
    .field{
      text-align:center;
      .field_three{
        display: flex;
          padding-left: 110px;
      
        .mustbox{
            color: white;
            background-color:#3CCACE;
            margin-left: 10px;
            padding: 0px 5px;
          }

      }
      .birth_box{
        display: flex;
        justify-content: space-evenly;
        padding: 10px 100px;
        #user_Birth_day_1i{
          width: 100px;
          height: 50px;
        }
    }
  }
}
  .attention{
    padding: 10px 50px;}
  .actions{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    .btn{
      color:white;
      background-color: #3CCACE;
      width: 500px;
      height: 60px;
      
    } 
  }
  // .box{
  //   height: 100vh;
  // }
}